*{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    opacity:1;
}

body{
    font-size: 16px;
}

// header
header{
    max-width: 100%;
    background: #007dc5;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;

    .header_container{
        h1{
            a{
                line-height: 1rem;
                position: absolute;
                top: 10px;
                left: 20px;
                font-size: 1.2rem;
                color: #fff;
                font-family: 'Playfair Display', serif;
            }
        }
    }
}

// privacy-policy
.container{
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 20px;

    .privacy_policy{
        h2{
            font-size: 1.5rem;
            text-align: center;
            font-family: 'Noto Sans JP', sans-serif;
        }

        .content{
            margin: 20px auto;
            max-width:900px;
            height: 400px;
            overflow: scroll;
            padding: 20px;
            box-sizing: border-box;
            background: #eee;
        }
    }
}

// footer
footer{
    max-width: 100%;
    background: #007dc5;
    padding:20px;
    box-sizing: border-box;

    .footer_container{
        text-align: center;

        ul{
            display: flex;
            justify-content: center;

            li{
                padding-bottom: 10px;

                a{
                    color: #fff;
                    font-size: 0.875rem;
                }
            }

            li:nth-child(1){
                padding-right: 20px;
            }

            li:nth-child(2){
                padding-left: 20px;
            }
        }

        .copyright{
            font-size: 0.875rem;
            color: #fff;
        }
    }
}